---
layout: default
---

<div class="posts">
    {% for post in paginator.posts %}
    <article class="post">

        <h1>
            <a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a>
            <span class="date-separator"></span>
            <span class="date">
                {% assign m = post.date | date: "%-m" %}
                {{ post.date | date: "%-d" }}
                {% case m %}
                {% when '1' %}января
                {% when '2' %}февраля
                {% when '3' %}марта
                {% when '4' %}апреля
                {% when '5' %}мая
                {% when '6' %}июня
                {% when '7' %}июля
                {% when '8' %}августа
                {% when '9' %}сентября
                {% when '10' %}октября
                {% when '11' %}ноября
                {% when '12' %}декабря
                {% endcase %}
                {{ post.date | date: "%Y" }}
            </span>
        </h1>

        <a href="{{ site.baseurl }}{{ post.url }}">
            <div class="cover-container">
                <img class="cover" src="/images/preview/{{ post.images[0] }}" />
            </div>
        </a>

        <div class="entry">
            <p>
                {{ post.excerpt | markdownify | remove: "<p>" | remove: "</p>" | strip_newlines | truncatewords: 30 }}
            </p>
        </div>

        <a href="{{ site.baseurl }}{{ post.url }}" class="button">Подробнее</a>
    </article>
    {% endfor %}

    {% if paginator.total_pages > 1 %}
    <div class="pagination-container">
        {% if paginator.previous_page %}
        <a class="button" href="{{ paginator.previous_page_path | relative_url }}"> &laquo; Новые записи</a>
        {% endif %}

        {% if paginator.next_page %}
        <a class="button" href="{{ paginator.next_page_path | relative_url }}">Старые записи &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
</div>