---
layout: default
---

<article class="post">

    <h1>
        <a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a>
        <span class="date-separator"></span>
        <span class="date">
            {% assign m = page.date | date: "%-m" %}
            {{ page.date | date: "%-d" }}
            {% case m %}
            {% when '1' %}января
            {% when '2' %}февраля
            {% when '3' %}марта
            {% when '4' %}апреля
            {% when '5' %}мая
            {% when '6' %}июня
            {% when '7' %}июля
            {% when '8' %}августа
            {% when '9' %}сентября
            {% when '10' %}октября
            {% when '11' %}ноября
            {% when '12' %}декабря
            {% endcase %}
            {{ page.date | date: "%Y" }}
        </span>
    </h1>

    <div class="entry">
        {{ content }}
    </div>

    <p>
        <div class="post-gallery">
            {% for image in page.images %}
            <div class="post-gallery-item">
                <a data-fslightbox href="/images/{{ image }}">
                    <img class="post-gallery-image" src="/images/preview/{{ image }}" />
                </a>
            </div>
            {% endfor %}
        </div>
    </p>
    
    <div>
    </div>

    <div class="post-navigation-container">
        {% if page.previous.url %}
        <a class="button" href="{{page.previous.url}}">&laquo; Назад</a>
        {% endif %}

        {% if page.next.url %}
        <a class="button" href="{{page.next.url}}">Дальше &raquo;</a>
        {% endif %}
    </div>

</article>
